/* Reset + Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  color: #222;
  background: #fff;
  line-height: 1.6;
}

li {
  font-size: 20px;
}

p {
  font-size: 25px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 8%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d40000;
}

.btn {
  background: #d40000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #a80000;
}

/* Process Section */
.process {
  padding: 4rem 8%;
}

.process h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 3rem;
  color: rgb(3, 3, 88);
  font-weight: bold;
  line-height: 1.6;
}

/* Steps */
.step {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  gap: 2rem;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease-in-out;
}

.step.visible {
  opacity: 1;
  transform: translateY(0);
}

.step.reverse {
  flex-direction: row-reverse;
}

/* Step Image */
.step-img img {
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Hover Zoom */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.step-img img:hover {
  animation: zoomIn 0.6s ease-in-out forwards;
}

/* Step Content */
.step-content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.step-content span {
  color: #d40000;
  font-weight: bold;
}

.step-content ul {
  list-style: disc inside;
  color: #444;
  margin-top: 1rem;
}

/* Highlight Text */
.highlight-text {
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5rem;
  display: block;
  max-width: 700px;
  margin-left: auto;
  margin-right: 0;
  transition: transform 0.3s ease;
}

.highlight-text:hover {
  transform: scale(1.05);
}

/* Blog */
.blog {
  background: #fafafa;
  padding: 3rem 8%;
  border-top: 1px solid #eee;
}

.blog a {
  color: #d40000;
  text-decoration: none;
  font-weight: bold;
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 2rem 8%;
}

footer .btn {
  margin: 1rem 0;
}
