* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entrepreneur-container {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* ========================================= */
/* TITLE SECTION                             */
/* ========================================= */
.entre-title {
  font-size: 32px;
  color: #fff;
  margin-top: 10px;
  background-color: #047871;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.ent-title img {
  width: 120%;
  height: 500px;
  object-fit: fill;
  display: block;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  border-image: initial;
  margin: 0px auto;
}

/* ========================================= */
/* MAIN LAYOUT — LEFT & RIGHT SECTIONS       */
/* ========================================= */

.ent-left,
.ent-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin: 190px 0 50px; 
  background-color: #047871;
  border-radius: 25px;
  padding: 40px;
}

/* Left section → image on left, text right */
/* Right section → text left, image right */

/* IMAGE STYLES */
.ent-left img,
.ent-right img {
  width: 400px;
  border-radius: 25% 0;
  transition: 0.3s ease;
  height: 400px;
}

.ent-left img:hover,
.ent-right img:hover {
  transform: scale(1.03);
}

/* TEXT BOXES */
.ent-box-left,
.ent-box-right-text {
  width: 55%;
}

.ent-line {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* DOT STYLE */
.dot {
  font-size: 28px;
  font-weight: 700;
  color: #FFD70F;
  margin-right: 12px;
}

.text {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  font-size: 28px;
}

/* ========================================= */
/* RESPONSIVE — TABLETS (992px)              */
/* ========================================= */
@media (max-width: 992px) {
  .ent-left,
  .ent-right {
    flex-direction: column;
    text-align: center;
    margin: 60px 0;
  }

  .ent-left img,
  .ent-right img {
    width: 80%;
    max-width: 350px;
  }

  .ent-box-left,
  .ent-box-right-text {
    width: 95%;
  }

  .text {
    font-size: 20px;
  }
}

/* ========================================= */
/* RESPONSIVE — MOBILE (600px)               */
/* ========================================= */
@media (max-width: 600px) {
  .entre-title {
    font-size: 28px;
  }

  .ent-title img{
    height: 300px;
  }

  .ent-left img,
  .ent-right img {
    width: 350px;
  }

  .dot {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
    text-align: left;
  }

  .ent-line {
    margin-bottom: 15px;
  }
}

@media (max-width:480px){
  .entre-title {
    font-size: 28px;
  }

  .ent-title img{
    height:200px;
  }

  .ent-left img,
  .ent-right img {
    width: 250px;
    height: 250px;
  }

  .dot {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
    text-align: left;
  }

  .ent-line {
    margin-bottom: 15px;
  }
}
