/* Main layout */
.dm-eldr-wrapper {
  width: 100%;
  padding-bottom: 40px;
  background: #f7f7f7;
  overflow-x: hidden;
}

/* Header */
.dm-eldr-header {
  text-align: center;
}

.dm-eldr-header h1 {
  font-size: 28px;
  color: #222;
  font-weight: 700;text-align: center;
  padding: 15px;
  background: #407871;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
}

/* Container */
.dm-eldr-container {
  width: 90%;
  max-width: 1200px;
  margin: 80px 60px;
}

/* Row Layout */
.dm-eldr-row {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 60px 0 40px; 
}

.dm-eldr-row.reverse {
  flex-direction: row-reverse;
}

/* Images */
.dm-eldr-poster img {
  height: 450px;
  max-width: 600px;
  border-radius: 20% 0;
  cursor: pointer;
  transition: 0.3s;
}

.dm-eldr-poster img:hover {
  transform: scale(1.03);
}

/* Bullet line structure */
.dm-eldr-bullet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  padding: 0 80px;
}

.dm-eldr-bullet .dot {
  font-size: 26px;
  margin-right: 12px;
  color: #ffd70f;
}

.dm-eldr-bullet .text {
  font-size: 28px;
  color: #444;
  line-height: 1.6;
}


/* Animation */
.dm-eldr-animate {
  transform: translateY(15px);
  transition: 0.6s ease-in-out;
}

.dm-eldr-animate.visible {
  transform: translateY(0);
}

/* Button */
.btn-center {
  text-align: center;
  margin-top: 20px;
}


/* Responsive */
@media (max-width: 900px) {
  .dm-eldr-row {
    flex-direction: column;
    text-align: left;
  }

  .dm-eldr-row.reverse {
    flex-direction: column;
  }

  .dm-eldr-poster img {
    width: 80%;
  }

  .dm-eldr-bullet .text {
    font-size: 24px;
  }

  .dm-eldr-bullet .dot {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .dm-eldr-header h1 {
    font-size: 22px;
  }

  .dm-eldr-container {
    margin: auto;
  }

  .dm-eldr-bullet{
    padding: 0;
  }

  .dm-eldr-row{
    margin: 40px 0; 
  }

  .dm-eldr-poster img {
    width: 100%;
    height: 350px;
  }

}
