/* ------------------------------ */
/* Header */
.income-header {
  text-align: center;
  padding: 20px 20px;
  background: #407871;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
}

.income-header h1 {
  font-size: 32px;
  font-weight: 700;
}

/* ------------------------------ */
/* General Layout */
.income-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
  gap: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.income-section.reverse {
  flex-direction: row-reverse;
}

.income-text {
  flex: 1;
  font-size: 30px;
  line-height: 1.6;
}

/* ------------------------------ */
/* Bullet Style */
.bullet {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}

.dot-1{
  margin-right: 12px;
  font-size: 27px;
  color: #407871;
}


.responsive-income-img {
  width: 300px;
  height: 400px;
  border-radius: 25% 0;
}




/* ------------------------------ */
/* Responsive Design */
@media (max-width: 992px) {
  .income-section.reverse {
    flex-direction: column;
  }

  .responsive-income-img{
    width: 250px;
    height: 300px;
  }

  .bullet {
    font-size: 24px;
  }
}

@media (max-width: 740px) {
  .income-section {
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }
  .income-header h1 {
    font-size: 26px;
  }

  .income-text {
    font-size: 24px;
    text-align: start;
  }

  .dot-1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .income-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .income-section {
    padding: 25px 20px;
  }

  .income-header h1 {
    font-size: 22px;
  }

  .bullet {
    margin-bottom: 10px;
  }
}
