* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ffffff;
  color: #222;
  line-height: 1.6;
  overflow-x: hidden; 
  flex-wrap: wrap;
}
 h1 {
  text-align: center;
  font-size: 3rem;
  margin: 60px 40px 60px 40px;
  color: white;
  background-color: forestgreen;
  border-radius: 20px;
  border: 7px solid green;
}
section {
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
  padding: 0 20px;
}
p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 25px;
}
ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}
li {
  background: #f9f9f9;
  padding: 15px 20px;
  margin: 12px 0;
  border-left: 6px solid #0077b6;
  border-radius: 8px;
  font-size: 1.05rem;
  text-align: left;
}
li strong {
  color: #023e8a;
}
.image {
  width: 100%;
  max-width: 850px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  margin: 25px 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
}
.image:hover {
  transform: scale(1.03);
}
.btn-container {
  text-align: center;
  margin: 50px 0;
}
.btn {
  background: #0077b6;
  color: #fff;
  border: none;
  padding: 14px 36px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}
.btn:hover {
  background: #023e8a;
  transform: scale(1.05);
}
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in img{
    width: 469px;
    height: 599px;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 80px;
    margin-left: 80px;
}
.left img{
    width: 469px;
    height: 599px;
    border-radius: 15px;
}
.right{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.right p{
    line-height: 3;
    font: 1200;
    font-size: 26px;
    font-weight: bold;
    display: inline;
}
.tick{
    color: red;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 768px) {
  h1{ 
    font-size: 2.4rem; 
}
  .image{ 
    height: 240px; 
}
  .left{
    flex-direction: column;
    text-align: center;
  }
  .left img{
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .right{
    margin-bottom: 15px;
  }
}

