/* ---------------- SOLUTION SECTION ---------------- */
.dm-sol-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

/* ---------------- IMAGE CARD ---------------- */
.dm-sol-img-card {
  width: 70%;
  height: 50%;
  padding: 35px 0;    /* combined top & bottom padding */
}

.dm-sol-img-card:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 30px rgba(255, 255, 255, 0.2);
}

.dm-sol-card-media {
  width: 800px;
  height: 600px;
  margin: 20px;
  border-radius: 20px;
  transition: transform 0.4s ease;
  box-shadow: 0 8px 16px rgba(0.4, 0, 0, 0.4);
}

.dm-sol-card-media:hover {
  transform: scale(1.05);
}

/* ---------------- BUTTON STYLING ---------------- */
.dm-sol-cta-button {
  background: linear-gradient(90deg, #ffcc00, #ff9900);
  color: #000000;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(255, 204, 0, 0.4);
  transition: all 0.4s ease;
  letter-spacing: 1px;
}

.dm-sol-cta-button:hover {
  background: linear-gradient(90deg, #ff9900, #ffcc00);
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255, 204, 0, 0.6);
}

/* ---------------- RESPONSIVE DESIGN ---------------- */
@media (max-width: 768px) {
  .dm-sol-img-card {
    max-width: 800px;
    margin: 30px;
    padding: 0;
  }

  .dm-sol-img-card img {
    height: 400px;
    width: 400px;
    margin: 50px 0;
  }

  .dm-sol-cta-button {
    font-size: 1rem;
    padding: 12px 30px;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .dm-sol-img-card {
    width: 100%;
    margin: -15px;
    padding: 0;
  }

  .dm-sol-img-card img {
    height: 250px;
    width: 325px;
  }

  .dm-sol-cta-button {
    font-size: 0.95rem;
    padding: 10px 25px;
  }
}
