* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  line-height: 1.6;
  padding: 20px;
  margin: 0 20px 0 20px;
}

.ove span{
  background-color: darkgreen;
  color: white;
  justify-content: center;
  line-height: 3.6rem;
  text-align: left;
  font-size: 32px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 0; 
}

section.reverse {
  flex-direction: row-reverse;
}

.fade-in img {
  width: 45%;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0.5, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
}

.text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: black;
  text-align: center;
  margin-top: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.text p,
.text ul {
  font-size: 19px;
  color: #fff;
  line-height: 2.6rem;
  text-align: justify;
  font-weight: 800;
  padding: 20px;
  margin: 20px;
}

.text ul {
  list-style: none;
}

.text strong{
  font-weight: bold;
}

.btn-container {
  text-align: center;
  margin: 50px 0;
}

.btn {
  background: #4caf50;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #43a047;
}

@media (max-width: 900px) {
  section,
  section.reverse {
    flex-direction: column;
    text-align: center;
  }

  .fade-in img,
  .text {
    width: 500px;
  }

  .fade-in img{
    max-width: 90%;
    margin: 30px 30px 30px 30px;
    justify-content: center;
    align-items: center;
  }
}

@keyframes fadeIn{
  form{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
