/* ---------------- PAGE CONTAINER ---------------- */
.overview-page-container {
  width: 100%;
  color: #fff;
  margin: 20px -50px;
}

/* ---------------- HEADER TITLE ---------------- */
.overview-header-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 40px;
  
}

/* ---------------- ZIGZAG SECTION ---------------- */
.zigzag-layout-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  gap: 40px;
  margin: 30px 20px 85px;
}

.reverse-layout {
  flex-direction: row-reverse;
}

/* ---------------- IMAGE ---------------- */
.zigzag-image-container img {
  width: 480px;
  height: 350px;
  border-radius: 25% 0;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

/* ---------------- TEXT CONTENT ---------------- */
.zigzag-text-content {
  max-width: 550px;
  
}

.zigzag-text-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
}

.zigzag-text-content p,
.zigzag-text-content li {
  font-size: 24px;
  line-height: 1.6em;
  color: black;
}

.zigzag-text-content ul {
  list-style: none;
  padding-left: 0;
}



/* ---------------- RESPONSIVE (PHONE) ---------------- */
@media screen and (max-width: 768px) {
  /* Make ALL sections vertical */
  .zigzag-layout-section,
  .zigzag-layout-section.reverse-layout {
    flex-direction: column !important; /* IMAGE ALWAYS ON TOP */
    text-align: center;
  }

  .zigzag-image-container img {
    width: 90%;
  }

  .zigzag-text-content {
    max-width: 100%;
  }

  .zigzag-layout-section {
    padding: 20px;
  }

  .overview-header-title {
    font-size: 2.2rem;
  }
}


@media screen and (max-width: 480px) {
  /* Make ALL sections vertical */
  .zigzag-layout-section,
  .zigzag-layout-section.reverse-layout {
    flex-direction: column !important; /* IMAGE ALWAYS ON TOP */
    text-align: center;
  }

  .overview-page-container{
    margin: 0 auto;
  }

  .zigzag-image-container img {
    width: 90%;
  }

  .zigzag-text-content {
    max-width: 100%;
  }

  .zigzag-layout-section {
    padding: 20px;
  }

  .overview-header-title {
    font-size: 2.2rem;
  }
}