/* ---------- WRAPPER ---------- */
.stu-page-wrapper {
  width: 100%;
  overflow-x: hidden;
  background: #f9fafb;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

/* ---------- HEADER ---------- */
.stu-page-header {
  text-align: center;
  padding: 20px 20px;
  background: #407871;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
}

.stu-page-header h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

/* ---------- SECTIONS ---------- */
.stu-page-container {
  width: 90%;
  max-width: 1250px;
  margin: auto;
}

.stu-page-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 0 0 60px 0;
}

.stu-page-reverse-section {
  flex-direction: row-reverse;
}

/* ---------- IMAGES ---------- */
.stu-page-image-box {
  display: flex;
  justify-content: center;
}

.stu-page-image-box img {
  width: 320px;
  height: 470px;
  border-radius: 15% 0;
  cursor: pointer;
  margin-top: 120px;
}

.stu-page-image-box img:hover {
  transform: scale(1.03);
}

/* ---------- TEXT CONTENT ---------- */
.stu-page-text-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-top: 120px;
}

/* Bullet layout */
.stu-bullet {
  display: flex;
  align-items: flex-start;
  font-size: 28px;
  color: #333;
  gap: 8px;
  line-height: 1.5;
}

.stu-dot {
  font-size: 26px;
  color: #487071;
  margin-bottom: 14px;
}

/* ---------- ANIMATION ---------- */
.stu-page-animate-block {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease-out;
}

.stu-page-animate-block.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ----------------------------------------------------
                RESPONSIVE DESIGN  
---------------------------------------------------- */

/* Tablets */
@media (max-width: 992px) {
  .stu-page-section {
    gap: 25px;
  }

  .stu-page-header h1 {
    font-size: 28px;
  }

  .stu-bullet {
    font-size: 28px;
  }

  .stu-dot {
    font-size: 22px;
  }
}

/* Mobile Landscape & Small Tablets */
@media (max-width: 768px) {
  .stu-page-section,
  .stu-page-reverse-section {
    flex-direction: column;
    text-align: center;
  }

  .stu-page-text-block {
    align-items: center;
  }

  .stu-bullet {
    justify-content: center;
    text-align: left;
    width: 100%;
    max-width: 450px;
  }

  .stu-page-image-box img {
    max-width: 360px;
  }
}

/* Small Mobile */
@media (max-width: 500px) {
  .stu-page-header h1 {
    font-size: 22px;
  }

  .stu-bullet {
    font-size: 24px;
  }

  .stu-dot {
    font-size: 24px;
  }

  .stu-page-image-box img {
    width: 300px;
    height: 350px;
    margin: 20px 0;
  }
  .stu-page-text-block{
    margin: 10px auto;
  }
}
