@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html {
  scroll-behavior: auto !important;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}



/* Big screens (TVs, large monitors) */
@media (min-width: 1500px) {
  body {
    width: 90%;           /* gives ~15% space left & right */
    margin: 0 auto;       /* centers content */
  }
}

/* Ultra wide monitors */
@media (min-width: 2000px) {
  body {
    width: 70%;    
    margin: 0 auto;       /* more side space for ultra-wide */
  }
}



